*{
    margin:0;
    padding:0;
}
.box1{
    color:white;
    margin-top:10rem;
    border-radius: 30px;
}
.box2{
    margin-top:2rem;
    padding-top:7rem;
    color:white;
    background: rgba(61, 61, 61, 0.39);
    opacity:0;
    border-radius: 30px;
}
.box3{
    margin-top:2rem;
    padding-top:7rem;
    color:white;
    background: rgba(61, 61, 61, 0.39);
    opacity:0;
    border-radius: 30px;
}
.content{
    display:flex;
    justify-content: center;
}
#backgroundimg{
    width:100vw;
    min-height:100vh;
    min-width:90rem;;
    position:fixed;
    z-index:-1;
}
#arrow{
    height:10rem;
    width:10rem;
    
}
.spinning{
    animation: spin 3s infinite;
}
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
html {
    animation: fadeSiteIn 0.5s ease forwards; /* [1] */
}

html.fadeSiteOut {
  animation:  fadeSiteOut 0.5s ease forwards; /* [2] */
}


@keyframes fadeSiteIn { /* [1] */
    from   { opacity: 0; }
    to    { opacity: 1; }
}

@keyframes fadeSiteOut { /* [2] */
    from   { opacity: 1; }
    to     { opacity: 0; }
}
body{
    overflow:hidden;
}